.container{
    position: absolute;
    float: left;
    width: 400px;
    height: 70px;
    background: palevioletred;
    bottom: 0;
    right: 0;
}

.draggable-container {
    position: absolute;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    list-style: none;
}


.image {
    display: inline-block;
    width: 100%;

}